.menu > .background-text-image {
  /* background */
  background-image: url(./assets/images/background.png);
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 32px;
  word-wrap: break-word;
  font-family: Bogle;
  color: #FFF;
}
.menu > .background-text-image.active{
  background-image: url(./assets/images/yellow.png);
  background-size: cover;
}