@font-face {
  font-family: BogleBlack;
  src: url(assets/fonts/Bogle/BOGLEBLACK.OTF);
}
@font-face {
  font-family: BogleBlackItalic;
  src: url(assets/fonts/Bogle/BOGLEBLACKITALIC.OTF);
}
@font-face {
  font-family: Bogle;
  src: url(assets/fonts/Bogle/BOGLEREGULAR.OTF);
}
@font-face {
  font-family: BogleBold;
  src: url(assets/fonts/Bogle/BOGLEBOLD.OTF);
}
@font-face {
  font-family: BogleBoldItalic;
  src: url(assets/fonts/Bogle/BOGLEBOLDITALIC.OTF);
}
@font-face {
  font-family: BogleItalic;
  src: url(assets/fonts/Bogle/BOGLEITALIC.OTF);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
